/*
	Website


	HTML,CSS,JS Code developed by :
	Author:Prashant Sani,<contact@prashantsani.com>

	Colour Codes:
	base level Height :
	base level Width :

	sass --watch main.scss:style.css --style compressed

*/

/* =============================================================================
	Index

	1) SCSS Variables
	2) Fonts / Mixins / Functions / Plugins
	3) Global Styles, Resets, Global Links, Abstraction
	4) Header, Main Navigation
	5) Content
	6) Footer
	7) Forms
	8) JS Library Styles
	9) Non-Symentic Class / Helper Classes
	10) Print Styles
	==========================================================================  */
/* =============================================================================
	 1. SCSS Variables
========================================================================== */
	$u10: 0.624em;
	$u10: 0.702rem;
	$u12: 0.79rem;
	$u14: 0.889rem;
	$u16: 1rem;
	$u18: 1.125rem;
	$u20: 1.25rem;
	$u22: 1.375rem;
	$u24: 1.5rem;
	$u28: 1.75rem;
	$u32: 2rem;
	$u36: 2.25rem;
	$u40: 2.5rem;
	$u45: 2.8125rem;
	$u48: 3rem;
	$u60: 3.75rem;
	$u100: 6.25rem;
	$u130: 8.125rem;
	$u160: 10rem;

	// Primary Colors
	$grey-text: #0f0f0f;
	$red-text: #ee4023;

	// Secondary Colors

	// Tertiary Colors

	// Background Color


	// Grids

	// Sizes
	$tablet-p: 780px; // -
	$tablet-l: 1020px; // -
	$laptop:1350px; // -
	$laptop:1500px; //+

	// Section Heights

	// Letter Spacing

	$site_url: '';

/* =============================================================================
	 2. Fonts / Mixins / Functions / Plugins
========================================================================== */
	@import './_fonts/fonts.scss';
	@import './_plugins/mixins.scss';
	@import './_plugins/flex.scss';
	@import './_components/preloader.scss';

/* =============================================================================
	 3. Global Styles, Resets, Global Links, Abstraction
========================================================================== */
	/* ------------
		HTML 5 Resets
	------------ */
		@import './_core/reset.scss';
	/* ------------
		Selection
	------------ */
		::-moz-selection { background: #2d2d32; color: #fff; text-shadow: none;opacity: 1 }
		::selection { background: #2d2d32; color: #fff; text-shadow: none;opacity: 1 }
	/* ------------
		Selection
	------------ */
	ol.unstyled,
	ul.unstyled{
		list-style-type: none;
	}
	/* ------------
		Links & Buttons
	------------ */
	@import './_components/buttons.scss';

	/* ------------
		Typography
	------------ */
	@import './_core/typography.scss';

	/* ------------
		Globals
	------------ */
		.wrap {
			margin: 0 auto;
			position: relative;
			z-index: 1;
			box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.25);
			width: 1000px;
			max-width: 94%;
		}

	/* ------------
		Icons
	------------ */
		@import './_components/icons.scss';
	/* ------------
		Page Fade-in/out
	------------ */
	html{

	}
	html.no-js{

	}

/* =============================================================================
	 4. Header, Main Nav
========================================================================== */
	// Combining Header and Nav for Landing and blog page
	@import './_sections/header.scss';
	@import './_sections/nav.scss';
	@import './_components/social.scss';



/* =============================================================================
	 5. Content
========================================================================== */
		#main{

		}
	/* ------------
		Components
	------------ */
		@import './_components/hero.scss';
		@import './_components/product-features.scss';

	/* ------------
		Pages
	------------ */
		@import '_pages/common.scss';
		@import '_pages/index.scss';
		@import '_pages/about.scss';
		@import '_pages/contact.scss';

/* =============================================================================
	6. Footer
========================================================================== */
	@import './_sections/footer.scss';

/* =============================================================================
	7. Forms
========================================================================== */
	@import './_core/forms.scss';

/* =============================================================================
	8. JS Library Styles
========================================================================== */

/* =============================================================================
	9. Non-Symentic Class / Helper Classes
========================================================================== */
	@import './_core/helper.scss';

/* =============================================================================
	10. Print Styles
========================================================================== */

@media print {
	#hamburger{
		display: none
	}
}
