html{
  font-family: 'Source Sans Pro', sans-serif;
  color: $grey-text;
  font-weight: 400;
  background-color: white;
  @media screen and (max-width:9000px){
  	font-size: 15px;
  }
  @media screen and (max-width:768px){
  	font-size: 14px;
  }
  @media screen and (max-width:600px){
  	font-size: 13px;
  }
}
// Going as per http://www.modularscale.com/?1&em&1.125
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
h1, .h1{

  &.heading{
    position: relative;
  }
}
h2, .h2{

}
h3, .h3{

}
h4, .h4{

}
h5, .h5{

}
h6,.h6{
  font-family: 'ralewaymedium';
  font-size: $u14;
  color: inherit;
}
small{
  font-size: $u12;
  line-height: 1.8;
  letter-spacing: 0.169em;
}
p, .p, label{
  // font-family: ;
  // line-height: ;
  // font-size: ;
  // margin-bottom: ;
  // letter-spacing: ;
  // font-weight: ;
  &:last-child{
    margin-bottom: 0;
  }
  strong,b{
    // font-family:
  }
  em,u,i{
    text-decoration: underline;
  }
}
.p{
  color: inherit;
}
.pushed{
  margin-left: 2.5em
}
dd{

}
time{

}
a{
  font-family: inherit;
}
.text-left,
.text-right,
.text-center{
  display: block;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
pre, code, kbd, samp { font-family: monospace, serif; font-size: inherit; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
h1,h2,h3,h4,h5,h6,strong{
  font-weight: normal;
}
.text-center{
  text-align: center
}
.spaced{
  // letter-spacing: $letter-spacing;
  // margin-right: -$letter-spacing;
}
.prev-next-wrap{
  margin-left: auto;
  margin-right: auto;
  font-size: $u14;
  margin-bottom: 1em;
  width: 1500px;
  max-width: 80%;
}
.heading{
  
}