/* ------------
  Links & Buttons
------------ */
a, button {
  text-decoration: none;
  @include transition(all 0.3s ease-in-out);
}
a:link,a:visited{
  color: inherit;
}
.no-touchevents a:hover,
.no-touchevents a:active{
}
.current-link {
  cursor: default;
}
button{
  outline: none;
  border: none;
  background: transparent
}
.boxed{
  font-size: 20px;
  color: $red-text;
  border: solid 2px #ee4023;
  line-height: 36px;
  display: block;
  margin: 20px 0 0 0;
  min-width: 200px;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: left
}