.email-cta{
  height: 746px;
  background: url(../images/closing-photo.jpg) bottom center no-repeat;
  position: relative;
}
.email-cta-form{
  background: rgba($black,0.64);
  width: 658px;
  max-width: 90%;
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  color: $white;
  bottom: 30%;
  margin: 0 auto;
  left: 0;
  right: 0;
  padding: 40px;
  
  h1{
    font-size: $u36;
  }
  h2{
    font-size: $u20;
    margin-bottom: 40px;
    font-weight: 300;
  }
  
  input{
    display: inline-block;
    vertical-align: middle;
    height: 34px;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    padding: 0 20px;
    box-sizing: border-box;
    @include transition(all 0.3s ease-in-out);
  }

  input[type=email]{
    width: 226px;
    font-size: $u13;
  }

  input[type=submit]{
    background: $red;
    color: $white;
    text-transform: uppercase;
    font-size: $u14;
    .no-touchevents &:hover{
      color:$red;
      background: $white;
    }
  }

}

@media screen and (max-width:768px){
  .email-cta-form{
    padding: 40px 20px;
  }
}

@media screen and (max-width:600px){
  .email-cta-form input[type=email]{
    display: block;
    margin: 0 auto 10px;
  }
}