.hero{
  width: 100%;
  height: 500px;
  background: url(../images/hero.jpg) top center no-repeat;
  box-sizing: border-box;
  padding: $u48 0 0 $u60;

  h1{
    font-size: $u42;
    color: $white;
    width: 10em;
  }
}