.product-features{
    .heading,
    .subheading{
        font-weight: 300;
        opacity: 0.96;
    }
    .heading{
        font-size: 48px
    }
    .subheading{
        font-size: 24px;
    }
    article{
        margin: 70px 0;
        h1{
            font-size: 24px;
            font-weight: 400;
        }
        p{
            font-size: 18px;
            font-weight: 300;
        }
    }
}
// LAYOUT
.product-features-customise,
.product-features-crop{
    display: flex;
    figure{
        position: relative;
        overflow: hidden;
    }
    .description{
        padding-left: 60px;
    }
}
.product-features-customise{
    .description,
    figure{
        @include transition(all 0.3s ease-in-out);
    }
    .description{
        max-width: 420px;
        order: 2;
    }
    figure{
        order: 1;
    }
    &.flipped{
        .description{
            order: 1;
            padding-right: 60px;
        }
        figure{
            order: 2;
        }
    }
}
.product-features-crop{
    justify-content: space-between;
    .description{
        max-width: 500px;
    }
    .family-2,
    .family-1{
        @include transition(all 0.3s ease-in-out);
    }
    .family-2{
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }
    [aria-hidden="true"]{
        opacity: 0;
    }
}
