.product-features{
    padding: 0 60px;
    .heading,
    .subheading{
        font-weight: 300;
        opacity: 0.96;
    }
    .heading{
        font-size: 48px
    }
    .subheading{
        font-size: 24px;
    }
    article{
        margin: 70px 0;
        h1{
            font-size: 24px;
            font-weight: 400;
        }
        p{
            font-size: 18px;
            font-weight: 300;
        }
    }
}
// LAYOUT
.product-features-customise,
.product-features-crop{
    display: flex;
    .description{

    }
    figure{
        
    }
}
.product-features-crop{
    figure{
        position: relative;
    }
    .family-2{
        position: absolute;
    }
}
