.product-features{
    .heading,
    .subheading{
        font-weight: 300;
        opacity: 0.96;
        max-width: 85%;
        margin: 0 auto;
    }
    .heading{
        font-size: $u48;
    }
    .subheading{
        font-size: $u24;
    }
    article{
        margin: 70px 0;
        h1{
            font-size: $u24;
            font-weight: 400;
        }
        p{
            font-size: $u18;
            font-weight: 300;
        }
    }
}
// LAYOUT
.product-features-customise,
.product-features-crop{
    display: flex;
    figure{
        position: relative;
        overflow: hidden;
    }
    .description{
        padding: 0 0 $u60 $u60;
        box-sizing: border-box;
    }
}
.product-features-customise{
    .description,
    figure{
        @include transition(all 0.3s ease-in-out);
    }
    .description{
        max-width: 420px;
        width: 40%;
        order: 2;
    }
    figure{
        order: 1;
        max-width: 45%
    }
    &.flipped{
        .description{
            order: 1;
            padding-right: $u60;
        }
        figure{
            order: 2;
        }
    }
}
.product-features-crop{
    justify-content: space-between;
    .description{
        width: 45%;
        max-width: 500px;
    }
    figure{
        max-width: 50%;
    }
    .family-2,
    .family-1{
        @include transition(all 0.3s ease-in-out);
    }
    .family-2{
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }
    [aria-hidden="true"]{
        opacity: 0;
    }
}

@media screen and (max-width:600px){
    .product-features-customise,
    .product-features-crop{
        .description{
            padding: 0 0 $u48 $u48;
        }
    }
}

@media screen and (max-width:600px){
    .product-features-customise,
    .product-features-crop{
        flex-wrap: wrap;
        .description{
            padding: 0 $u48 $u48 $u48;
        }
        .description,
        figure{
            width: 100%;
            max-width: 100%; 
        }
    }
}